<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044956378515-sm8qmui7ufou8eie4ski0uu842e0pkkf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044956378515-sm8qmui7ufou8eie4ski0uu842e0pkkf</string>
	<key>API_KEY</key>
	<string>AIzaSyDruZY3v36nPD410_Av8dF6CoFljWBS5cU</string>
	<key>GCM_SENDER_ID</key>
	<string>1044956378515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arjun.grip</string>
	<key>PROJECT_ID</key>
	<string>grip-d2cbc</string>
	<key>STORAGE_BUCKET</key>
	<string>grip-d2cbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044956378515:ios:b110c2cc9fdcd038842466</string>
</dict>
</plist>